<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.study_with_teddy">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Study_with_teddy">
        <activity android:name=".ALLsettingsMain" />
        <activity android:name=".listSettings" />
        <activity android:name=".AllPdecoRoomMain" />
        <activity android:name=".ZpomodoroMain" />
        <activity android:name=".ZShowActivity" />
        <activity android:name=".ZTimmer" />
        <activity android:name=".GchillHitsMain" />
        <activity android:name=".GFavouritesMain" />
        <activity android:name=".GShowActivity" />
        <activity
            android:name=".GMusicPlayer"
            android:exported="true"/>

        <activity android:name=".PTodoListsMain" />
        <activity android:name=".PShowActivity" />
        <activity android:name=".CFlashCardsMain" />
        <activity android:name=".CShowActivity" />
        <activity android:name=".Menu" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".SignUp" />
        <activity android:name=".SignIn" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>